/* styles.css file */

.dark-mode {
background-color: #121212; 
color: #e0e0e0;
}

.navbar-light {
  background-color:#343a40; 
  color: black;
}

.navbar-dark {
  background-color: #A3C1D4;
  color: white;
}
